.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 24px;
    padding: 16px 0px;
    font-size: 14.4px;
    color: #aaa;
    z-index: 1;
}

p {
    z-index: 1;
}