.landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    color: #ffffff;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.movie-cards {
    display: flex;
    gap: 2rem;
    justify-content: center;
}
